body{
    background-color: white;
    margin: 0px;
    color: black;
}

.header {
    background-color: black;
    color: white;
    padding: 10px 90px 10px 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.bootstrap {
    font-size: larger;
    padding-right: 700px;

}

.links{
    margin-right: 20px;
    color: inherit;
    text-decoration: none;
}

.main-content {
    padding: 0px 50px 0px 50px;
    font-family: Tahoma;
    font-size: 18pt;
}

.page-heading{
    font-size: 25pt;
    font-weight: bolder;
}


.sub-header{
    font-family: Georgia;
    padding: 20px 0px 20px 0px;
}

.mid-content{
    display: inline-flex;
    padding-right: 20px;
}
.description{
    font-size: 13pt;
    padding-left: 30px;
}

img.resize {
    max-width: 100%;
    height: auto;
}

.end-line{
    border: 5px solid black;
    margin: 15px 0px 15px 0px;
}

nav{
    position: sticky;
    top: 0px;
}